<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Cadastro de turma
    </ion-title>
    
    
    <ion-toggle class="dark-mode" 
    justify="end"
    [checked]="modoNoturno"
    (ionChange)="toggleModoNoturno($event)"
    labelPlacement="stacked"
    aria-label="Dark toggle" color="dark"
    [enableOnOffLabels]="true"
    > Dark Mode </ion-toggle>

   
  </ion-toolbar>


</ion-header>




<ion-content >   





<app-cadastro-aluno [turma]="turma" (cadastrar)="quandoCadastrar($event)"> </app-cadastro-aluno>






</ion-content>
